{% extends 'base.html.twig' %}

{% block title %}Challenge: Paper-scissor-rock{% endblock %}

{% block body %}
    <fieldset>
        <div>
            {% for key,msg in msgs %}
                {{ key~msg }}<br/>
            {% endfor %}
        </div>
    </fieldset>
    <div class="add-game-number-section">
        <form method="get" action="" clas="page-section-refresh">
            <label>Please add number of games (between 0 and 1000)</label>
            <input type="text" id="gameNumber" name="gameNumber"/>
            <button type="submit">Play Again</button>
        </form>
    </div>
{% endblock %}